{# header__nav #}
{% set 
	navigation = [
		{
			nav_link: 'Home'
		},
		{
			nav_link: 'About us'
		},
		{
			nav_link: 'Blog'
		},
		{
			nav_link: 'Portfolio'
		},
		{
			nav_link: 'Contact us'
		}
	] 
%}

{# content #}
{% set
	post = [

		{
			src_block: 'before1.png',
			img: '1.jpg',
			date: 'April 15, 2017',
			tags: 'Website | Design',
			comments: '4',
			post_header: 'Top  WordPress  Themes  of  2012',
			post_text1: 'Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.',
			post_text2: 'Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...'

		},
		{	
			src_block: 'before2.png',
			img: '2.jpg',
			date: 'April 15, 2012',
			tags: 'Website | Design',
			comments: '4',
			post_header: 'Jesus typography wallpaper giveaway',
			post_text1: 'Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.',
			post_text2: 'Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...'

		}

	]
%}